@{
    ViewBag.Title = "Elite Dangerous : Insane Ship Name Generator";
}

<form class="form-horizontal" role="form">

    <div class="form-group">
        <label for="pattern" class="col-sm-2 control-label">Pattern</label>
        <div class="col-sm-10">
            <select class="form-control" name="pattern" id="pattern">
                <option @(ViewBag.Pattern == "T v A N|p" ? "selected" : "") value="T v A N|p">The Adverb Adjective Noun</option>
                <option @(ViewBag.Pattern == "A N|p" ? "selected" : "") value="A N|p">Adjective Noun</option>
                <option @(ViewBag.Pattern == "T N|p" ? "selected" : "") value="T N|p">The Noun</option>
                <option @(ViewBag.Pattern == "V T A N|p" ? "selected" : "") value="V T A N|p">Verb The Adjective Noun</option>
                <option @(ViewBag.Pattern == "A V" ? "selected" : "") value="A V">Adjective Verb</option>
                <option @(ViewBag.Pattern == "v A" ? "selected" : "") value="v A">Adverb Adjective</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="limit" class="col-sm-2 control-label">Sanity</label>
        <div class="col-sm-10">
            <select class="form-control" name="limit">
                <option @(ViewBag.Limit == 0 ? "selected" : "") value="0">0 - Kicking the wingmirrors off!</option>
                <option @(ViewBag.Limit == 1 ? "selected" : "") value="1">1 - Bat Crazy Roy</option>
                <option @(ViewBag.Limit == 2 ? "selected" : "") value="2">2 - Psykokow Sings!</option>
                <option @(ViewBag.Limit == 5 ? "selected" : "") value="5">5 - Freakin' Insane</option>
                <option @(ViewBag.Limit == 10 ? "selected" : "") value="10">10 - The Beige Cowboy</option>
                <option @(ViewBag.Limit == 20 ? "selected" : "") value="20">20 - Only slightly unhinged</option>
                <option @(ViewBag.Limit == 50 ? "selected" : "") value="50">50 - Neurotypical?</option>
                <option @(ViewBag.Limit == 100 ? "selected" : "") value="100">100 - Simply Boring</option>
                <option @(ViewBag.Limit == 200 ? "selected" : "") value="200">200 - OMG are you going on about PvP again!</option>

            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="alliterate" value="true" @(ViewBag.Alliterate ? "checked" : "")> Alliterate
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Generate with this Pattern</button>
        </div>
    </div>
</form>

@foreach (var name in ViewBag.Names)
{
    <div class="generatedname">@name</div>
}

<div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <p>
            If you enjoyed this then why not buy me a pint?
        </p>
        <p>
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="8ZPKM3HYNMTS4">
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </p>
    </form>
</div>
<h2>How patterns work</h2>

<p class="lead">So you want to know how patterns work, read on commander.</p>
<p>The patterns are based on parts of speech specifically the following parts:</p>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <td>Part</td>
        <td>Pattern Code</td>
    </tr>
    <tr>
        <td>Noun</td>
        <td>N</td>
    </tr>
    <tr>
        <td>Plural</td>
        <td>p</td>
    </tr>
    <tr>
        <td>Noun phrase</td>
        <td>h</td>
    </tr>
    <tr>
        <td>Verb</td>
        <td>V</td>
    </tr>
    <tr>
        <td>Transitive Verb</td>
        <td>t</td>
    </tr>
    <tr>
        <td>Instransitive Verb</td>
        <td>i</td>
    </tr>
    <tr>
        <td>Adjective</td>
        <td>A</td>
    </tr>
    <tr>
        <td>Adverb</td>
        <td>v</td>
    </tr>
    <tr>
        <td>Conjunction</td>
        <td>C</td>
    </tr>
    <tr>
        <td>Preposition</td>
        <td>P</td>
    </tr>
    <tr>
        <td>Interjection</td>
        <td>!</td>
    </tr>
    <tr>
        <td>Pronoun</td>
        <td>r</td>
    </tr>
    <tr>
        <td>Definite Article</td>
        <td>D</td>
    </tr>
    <tr>
        <td>Indefinite Article</td>
        <td>I</td>
    </tr>
    <tr>
        <td>Nominative</td>
        <td>o</td>
    </tr>
    <tr><td>The</td><td>T</td></tr>
</table>

<p>To create a pattern just take the part you want and enter that code. Use a space between codes for a new word.</p>
<p>So for example if you want a name in the form Adjective-Noun, then use the pattern "A N".</p>
<p>You can combine parts with "&" and "|" so if you want the first word to be an Adjective or a Verb, then the pattern would be "A|V N".</p>
<p>Using "&" will look for words that are both parts.</p>
<p>Use [] brackets to insert a word. Eg the pattern "[Floppy] N". Cheers Simon!</p>

<p>It has been pointed out it that this generator appears to be run by the illegitimate child of Giles Brandreth, Stephen Fry and Richard Stilgoe.</p>